<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
</head>
<body>
  <main id ="root">
  <template id ="plantilla">
    <div>
      <h2>Juan Barrera</h2>
      <p>juanb@gmail.com</p>
      <body>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum magnam dignissimos harum reprehenderit sunt dolorem, molestias corrupti rerum inventore. Quos!</body>

    </div>
  </template>

  </main>
  <script type="module" src="app.js"></script>
</body>
</html>